nav a:hover{
    background-color: #a6a6a62f;
    filter: drop-shadow(0 0 2em #646cffaa);
    box-shadow: #646cffaa 0px 4px 16px, #646cffaa 0px 8px 32px
    #646cffaa 0px 7px 29px 0px
    
}

/************************************************************/


  